
<div class="border border-success rounded p-2 chat__container ">
  <button type="button" class="btn-close" ></button>
  <div id='chat__room' class=" chat__room" data-user-id="<%= current_user.id %>">

    <% room.messages.each do |message| %>
      <div data-controller="room-status" data-room-status-roomid="<%= room.id %>">
        <div data-room-status-target="roomstatus">
          <%= render 'message_chat', message: message %>
        </div>
      </div>
    <% end %>
  </div>


  <%= form_with(model: Message.new, id: "message_form") do |form| %>
    <div>
      <%= form.text_field :content, class: 'input__message' %>
      <%= form.hidden_field :room_id, value: room.id %>
      <%= form.submit 'send', class: 'btn btn-primary btn__todo' %>
    </div>
  <% end %>

</div>
