<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-sm">
    <% if user_signed_in? %>
      <%= turbo_frame_tag @todo do %>
        <div class="form__container">
          <%= render "form", todo: @todo %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-sm">
    <div id="todos">
      <%= render @todos %>
    </div>
  </div>
  <div class="col-sm">
    <%= turbo_frame_tag "chat" %>
  </div>
</div>
